@import "animation.css";

#form {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	backdrop-filter: blur(10px);
	animation: .3s fadein forwards;
	z-index: 100;
	white-space: nowrap;
}

#form form {
	background-image: url(../img/paper.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	display: inline;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%; left: 50%;
	padding: 2rem;
	width: 450px;
	height: 450px;
	border-radius: .3rem;
}

#form input[type=text], #form input[type=submit], #form button {
	display: block;
	border: none;
	outline: none;
	background-color: transparent;
	font-size: 2rem;
	margin: 1em 1.5em;
	font-family: 'Caveat', cursive;
	border-radius: .3rem;
}

#form {
	text-align: center;
}

#form input[type=submit], #form button {
	display: inline-block;
	font-size: 1.5rem;
	text-decoration: underline;
	margin-top: 2em;
}

#form input[type=submit]:hover, #form button:hover {
	filter: saturate(60%);
	cursor: pointer;
}

#hand {
	position: fixed;
	z-index: 500;
	width: 400px;
	pointer-events: none;

	transform-origin: 0px 110px;
	transform:  rotate(10deg);

	opacity: 0;


	top: 0;
	left: 0;
	display: none;
	transition: .3s all, 1s opacity;
}
