@import "fonts.css";
@import "animation.css";

body {
	overflow-x: hidden;
	background-image: url(../img/corcho.jpg);
	background-size: 20rem;
	background-repeat: repeat;
	font-family: 'Caveat', cursive;
	color: #333;
	overflow-x: hidden;
}

#app {
	display: none;
}

ul,li{
	list-style:none;
}

#form br {
	display: block;
	margin-bottom: .3rem;
}
.new{
	border-style: none;
}
.new:focus{
	outline: none;
}

ul li a, .new{
	word-wrap: break-word;
	text-decoration:none;
	background:#ffc;
	display:block;
	height:10rem;
	width:10rem;
	padding:1rem;
	-moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
	-webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	box-shadow: 5px 5px 7px rgba(33,33,33,.7);
	-moz-transition:-moz-transform .15s linear;
	-o-transition:-o-transform .15s linear;
	-webkit-transition:-webkit-transform .15s linear;
	position: relative;
}

.bNewTask:focus{
	outline: none;
}

.bNewTask{
	animation: .3s fadein forwards;

	border: 1px solid #EEEEEE;
	box-shadow: 1px 1px 0 #DDDDDD;
	filter: drop-shadow(0 0 1rem rgba(0,0,0,.2));
	display: inline-block;

	font-size: 18px;
	font-family:'Caveat', cursive ;
	margin: 2% auto;
	padding: 0 0 0 0;
	resize: none;
	height: 50px;
	width: 50px;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top , 
	transparent, transparent 49px,#E7EFF8 0px), 
	; 
	-webkit-background-size:  100% 50px;
	background-size: 100% 50px;
	position: absolute;
	top: 1rem;
	right: 2rem; 
	z-index: 1;
	border-radius: 1em;
	cursor: pointer;
}


ul li a:after, .new:after, #tasks:after {
	background-image: url(../img/chincheta.png);
	background-size: 100%;
	background-repeat: no-repeat;
	content: "";
	position: absolute;
	left: 50%;
	top: -.4rem;
	width: 1rem;
	height: 1rem;
	padding: 1rem;
	pointer-events: none;
}

#lists button {
	font-size: 2rem;
}
ul li, #lists button{
	margin:1em;
	display: inline-block;
	vertical-align: top;
}
ul li h2{
	font-size:140%;
	font-weight:bold;
	padding-bottom:10px;
}
ul li p{
	font-family:"Reenie Beanie",arial,sans-serif;
	font-size:180%;
}
ul li a, .new{
	-webkit-transform: rotate(-6deg);
	-o-transform: rotate(-6deg);
	-moz-transform:rotate(-6deg);
	font-family: 'Caveat', cursive;
}
ul li:nth-child(even) a{
	-o-transform:rotate(4deg);
	-webkit-transform:rotate(4deg);
	-moz-transform:rotate(4deg);
	position:relative;
	top:5px;
}
ul li:nth-child(3n) a{
	-o-transform:rotate(-3deg);
	-webkit-transform:rotate(-3deg);
	-moz-transform:rotate(-3deg);
	position:relative;
	top:-5px;
}
ul li:nth-child(5n) a{
	-o-transform:rotate(5deg);
	-webkit-transform:rotate(5deg);
	-moz-transform:rotate(5deg);
	position:relative;
	top:-10px;
}
ul li a:hover, .new:hover {
	box-shadow: 0 0 2rem rgba(0,0,0,.9);
	transform: scale(1.25);
	position:relative;
	z-index:15;
}

ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}

#list a {
	font-size: 2rem;
}

#lists {
	display: flex;
}

/* Estilo Tareas */
#shareCode{
	position: absolute;
	bottom: .5em;
	right: 1em;
	font-size: 250%;
	margin: 0;
	user-select: none;
	text-shadow: 1px 1px 0 #00000066;
}

#tasks {

	animation: .3s fadein forwards;

	border: 1px solid #EEEEEE;
	box-shadow: 1px 1px 0 #DDDDDD;
	filter: drop-shadow(0 0 1rem rgba(0,0,0,.5));
	display: block;

	font-size: 22px;
	margin: 2% auto;
	padding: 11px 20px 0 70px;
	resize: none;
	height: 689px;
	width: 530px;
	max-width: 70vw;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0px), -moz-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -moz-radial-gradient(3.9% 46% , circle closest-corner, #CCCCCC, #CCCCCC 43.5%, transparent 0%); 
	background-image: -webkit-linear-gradient(top , transparent, transparent 49px,#E7EFF8 0), -webkit-radial-gradient(4% 50%, circle closest-corner, #f5f5f5, #f5f5f5 39%, transparent 0%), -webkit-radial-gradient(3.9% 46%, circle closest-corner, #cccccc, #cccccc 43.5%, transparent 0%);

	-webkit-background-size:  100% 50px;
	background-size: 100% 50px;
	position: relative; 
	z-index: 5;
	border-radius: 1em;
}
#tag{
	position: absolute;
	top: 0rem;
	left: 0;
	width: auto;
	transform: translateX(-70%) ;
	text-align: center;
	background-color: white;
	padding: .2rem 2rem .2rem 1rem;
	clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
}

#tasks a {
	display: block;
	position: relative;
}
#tasks a.disabled {
	opacity: .5;
}
#tasks a.disabled:after {
	content: "";
	background-image: url(../img/strikethrough2.png);
	background-position: center;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	background-size: contain;
	background-repeat: no-repeat;
}
#tasks a h3 {
	margin-bottom: 0;
}
#tasks a p {
	margin-top: 0;
	margin-left: 2rem;
}
a.task {
	cursor: pointer;
	user-select: none;
}

#menu {
	background-color: rgba(255, 190, 255, .5);
	padding: .3em 0;
	border-radius: .3em;
	border-top-left-radius: 0;
	box-shadow: 0 0 15px rgba(0,0,0,.3);
	backdrop-filter: blur(10px);
	z-index: 200;
	position: absolute;
}
#menu button {
	display: block;
	border: none;
	background-color: transparent;
	padding: .8em 2.5em;
	width: 100%;
}
#menu button + button {
	margin-top: .3em;
}
#menu button:hover {
	cursor: pointer;
	background-color: #fdf;
}


/* Estilo Drag and Drop*/

/*.seleccionado {
	transform: scale(1.02) rotate(2deg);
	box-shadow:10px 10px 7px rgba(0,0,0,.7);
	background: #E3E4E5;
}*/
 .drag {
	opacity: 0;
}

#buscador {
	height: 3em;
}
#buscar-pal, #userCode {
	background-color: rgba(255, 190, 255, .5);
	backdrop-filter: blur(3px);
	box-shadow: 0 0 15px rgba(0,0,0,.3);
	border-radius: 5em;
	border: none;
	padding: 1em;

	z-index: 8;
	overflow: hidden;
	height: 100%;
	box-sizing: border-box;
	vertical-align: top;
}

#userCode {
	width: 3em;
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-left: .6em;
}
#userCode img {
	width: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section#tasks > div {
	max-height: 100%;
	overflow: auto;
}

@media only screen and (max-width: 640px) {
	
	#buscar-pal{
		width: 80%;
		margin: 0 auto;
	}
	#lists {
		display: block;
	}

	ul li {
		margin: 0.3em;
	}

	ul li a {
		height: 6rem;
    	width: 6rem;
		font-size: 1.3rem !important;
	}

	#tasks{
		font-size: 1.3rem;
	}
	
	#tag {
		display: none;
	}
	
	input, button{
		display: block !important;
		width: 100%;
		box-sizing: border-box;
	}

	input+input, input+button{
		margin-top: 1em;
	}

}
